body{
    overflow-x: hidden;
    z-index: -1;
}

.validator {
    padding: 8px;
    font-size: 12px;
}

.tabela {
    font-size: 12px;
}

.carousel{
    margin-top: -20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.footer {
    padding: 1rem;
    background-color: rgb(4,51,69);
    color: white;
}

.navbar-telefonica .telefonicaLogo{
    width: 185px;
    padding: 1.5%;
}



.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}


[v-cloak] {
    display: none;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .5s
}
.fade-enter, .fade-leave-active {
    opacity: 0
}
