body{
    overflow-x: hidden;
    z-index: -1;
}

.validator {
    padding: 8px;
    font-size: 12px;
}

.tabela {
    font-size: 12px;
}

.carousel{
    margin-top: -20px;
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.footer {
    padding: 1rem;
    background-color: rgb(4,51,69);
    color: white;
}

.navbar-telefonica .telefonicaLogo{
    width: 185px;
    padding: 1.5%;
}